body {
background: linear-gradient(357deg, #1d8a6e, #1d418a, #e609f2);
background-size: 100% 500%;
-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}


/* Hide the scrollbar... */

// body::-webkit-scrollbar {
//     display: none;
// }

#slide-container {
    position: absolute;
    // top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    // background-color: #000;
}

#slides {
    // position: absolute;
    width: 1024px;
    height: 1024px;
    overflow: hidden;
    padding-left: 200px;
    margin: 0px;
}

.slide {
    list-style: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

.buried {
    opacity: 0.0;
    visibility: hidden;
}

.was {
    position: fixed;
    z-index: 99;
    top: 50%;
    cursor: pointer;
    color: #fff;
    opacity: 0.7;
    transition: all 0.66s ease;
    -webkit-transition: all 0.66s ease;
}

.was:hover {
    opacity: 1.0;
}

#left {
    left: 3%;
}

#right {
    right: 3%;
}

#vignette {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9;
    width: 100%;
    height: 100%;
