body {
    background: #E56262;
}

h1 {
    font-family: 'Bebas Neue';
}

p {
    font-family: 'Bebas Neue';
}

.galleria {
    width: 1000px;
    height: 700px;
}

.galleria-theme-classic {
    background: rgba(15, 15, 15, 0.7);
    border-radius: 6px;
    border: 3px solid #2a2a2a;
    margin-left: 20%;
    margin-bottom: 10%;
}

img {
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.item {
    height: 800px;
    width: 800px;
}

#B7 {
    background-image: url('../img/art/B7.jpg');
    background-repeat: no-repeat;
}
@media all and (max-width: 768px) {
    #B7 {
        width: 400px !important;
    }
}

#B2 {
    background-image: url('../img/art/B2.jpg');
    background-repeat: no-repeat;
}

#B8 {
    background-image: url('../img/art/B6.png');
    background-repeat: no-repeat;
}

#A1 {
    background-image: url('../img/art/A1.jpg');
    background-repeat: no-repeat;
}

#A2 {
    background-image: url('../img/art/A2.jpg');
    background-repeat: no-repeat;
}

#A3 {
    background-image: url('../img/art/A3.jpg');
    background-repeat: no-repeat;
}

#A4 {
    background-image: url('../img/art/A4.jpg');
    background-repeat: no-repeat;
}

#A5 {
    background-image: url('../img/art/A5.jpg');
    background-repeat: no-repeat;
}

#A6 {
    background-image: url('../img/art/A6.jpg');
    background-repeat: no-repeat;
}

#A9 {
    background-image: url('../img/art/A9.jpg');
    background-repeat: no-repeat;
}

#A8 {
    background-image: url('../img/art/A8.jpg');
    background-repeat: no-repeat;
}

#B1 {
    background-image: url('../img/art/B1.jpg');
    background-repeat: no-repeat;
}

#B3 {
    background-image: url('../img/art/B3.jpg');
    background-repeat: no-repeat;
}

#B4 {
    background-image: url('../img/art/B4.jpg');
    background-repeat: no-repeat;
}

#B6 {
    background-image: url('../img/art/B6.png');
    background-repeat: no-repeat;
}

@media all and (max-width: 768px) {
    header2 .header-content {
        position: relative;
        width: 100%;
        padding: 130px 15px 40px;
        margin-top: 10%;
        text-align: center;
    }
}