body {
    background: linear-gradient(329deg, #0c634d, #421ac1, #c1651a);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 28% 0%
    }
    50% {
        background-position: 73% 100%
    }
    100% {
        background-position: 28% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 28% 0%
    }
    50% {
        background-position: 73% 100%
    }
    100% {
        background-position: 28% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 28% 0%
    }
    50% {
        background-position: 73% 100%
    }
    100% {
        background-position: 28% 0%
    }
}

.galleria {
    width: 1000px;
    height: 700px;
}

.galleria-theme-classic {
    background: rgba(15,15,15,0.7);
    border-radius: 6px;
    border: 3px solid #2a2a2a;
    margin-left: 20%;
    margin-bottom: 10%;
}
