.Back {
    color: #f2f2f2;
    background: #F89820 url("img/background.jpg");
    background-size: 100% 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
