:root {
  --green-color: #758A6D;
  --light-blue: #19BAE8;
  --pink-color: #E17287;
  --warm-brown: #aa5228;
  --khaki: #F2E6C9;
  --army: #BFC3A4;
  --old-keybord: #CFB989;
  --dark-brown: rgb(61, 44, 36);
  --orange: #C35F2B;
}
@font-face {
  /* font-family: "Neue Kabel ExtraBold", "Neue Kabel ExtraBold Placeholder", sans-serif; */
  font-family: "Neue Kabel ExtraBold";
  src: local("Neue Kabel ExtraBold"), url("./assets/fonts/NeueKabel-ExtraBold.otf"), format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--warm-brown);
  width: 100%;
}
footer[fixed="bottom"] {
  background: #342613;
}
.btn-primary {
  border: none;
}
nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light.fixed-top {
  background-color: var(--warm-brown);
}
.icecream {
  border-top: 32px solid #d56973;
  background: #edd996;
  border-bottom: 32px solid #13a49a;
  border-radius: 32px 32px 4.8px 4.8px;
  position: relative;
  float: left;
  height: 29px !important;
  width: 52px !important;
  margin-top: 8px;
  margin-bottom: 8px;
  transform: rotate(45deg) scale(.7);
  box-sizing: unset;
}
.icecream::before, .icecream::after {
  content: '';
  position: absolute;
}
.icecream::before {
  height: 76px;
  width: 28px;
  top: -24.8px;
  left: 5.6px;
  border-top: 6px solid rgba(255, 255, 255, 0.3);
  border-left: 6px solid rgba(255, 255, 255, 0.3);
  border-radius: 28px 9.6px 0 0;
  line-height: 16px;
}
.icecream::after {
  background: #d8b991;
  width: 16px;
  height: 32px;
  bottom: -64px;
  left: 19px;
  line-height: 16px;
  border-radius: 0 0 32px 32px;
  /* box-shadow: 0.1em 0 0 #4dbfb7, 0.1em 0.1em 0 #4dbfb7, 0.25em 0 0 #4dbfb7, 0.25em 0.1em 0 #4dbfb7, 0.5em 0 0 #4dbfb7, 0.5em 0.1em 0 #4dbfb7; */
}
.modal-header {
  border-bottom: 1px solid var(--dark-brown)
}
.navbar-light .navbar-brand {
  display: flex;
  align-items: center;
  color: var(--old-keybord);
  gap: 15px;
}
.navbar-light .navbar-brand span {
  padding-top: 1rem;
  font-family: "PT Serif", serif;
  font-weight: 800;
  font-size: 35px;
  color: #fff;
}
h2.position-title {
  color: var(--dark-brown);
  font-family: "PT Serif", serif;
  text-align: center;
  font-weight: 800;
  font-size: 34px;
}
.mobile-brand img {
  width: 100%;
}
.navbar-light .navbar-toggler {
  border: none;
  border-color: var(--dark-brown);
  animation-delay: .5s;
}
button.contact {
  background: #342613;
  color: var(--khaki);
  font-weight: 500;
  padding: 14px 20px;
  border-radius: 100px;
  font-size: 18px;
  animation-delay: 1s;
}
.me-auto {
  text-align: center;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--dark-brown);
}
#root {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--warm-brown);
}
.intro {
  width: 100%;
  background-color: var(--army);
}
.body-text {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-family: "Neue Kabel ExtraBold";
}
.body-section {
  width: 100%;
}
.body-section h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #03dac6;
}
.navbar-nav .dropdown-menu {
  background-color: transparent;
  border: none;
  text-align: center;
}
.navbar-nav .dropdown-menu .dropdown-item {
  color: var(--dark-brown);
  font-size: 22px;
  font-weight: 600;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-text {
  font-family: "Neue Kabel ExtraBold";
  color: var(--dark-brown);
  margin-bottom: 0;
}
/* // Typing animation starts */
.container p {
  font-family: "PT Serif", serif;
  font-weight: 800;
  color: #fff;
  color: var(--khaki);
  padding-bottom: 0.5rem;
  transition: all 0.3s ease;
  margin: 0;
  font-size: 5vw;
  text-align: center;
  overflow: hidden;
}
span.Typewriter__wrapper {
  font-family: "PT Serif", serif;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
/* // Typing animation end */

.container p.body-text {
  font-size: 18px;
  font-weight: normal;
}
.card {
  padding: 2em;
}

.body-text {
  padding: 1rem;

}
section.section {
  background: var(--khaki);
}
section#where {
  background: var(--army);
}
div.employment {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}
section.section h2.intro-employment {
  color: var(--dark-brown);
  font-size: 66px;
}
section .card-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--army);
}
section .qualify-contain.card-container {
  background-color: transparent;
}
section .card {
  display: flex;
  flex-direction: column;
  background-color: var(--khaki);
  width: 100%;
  border: none;
  padding: 40px;
  aspect-ratio: 1/1;
  gap: 10px;
  height: 400px;
  width: 400px;
  border-radius: 24px;
  position: relative;
}
.card-body p {
  color: var(--dark-brown);
  font-size: 20px;
  font-weight: 400;
}
section .card .logo-section {
  display: flex;
  justify-content: space-between;
}
.card-footer {
  border: none;
  background-color: transparent;
  padding-left: 0;
}
.card-footer button.learn-more {
  border-radius: 0;
  bottom: 0;
  left: 0;
  font-family: "Neue Kabel ExtraBold";
  color: var(--warm-brown);
  border: 2px solid var(--warm-brown);
  border-radius: 100px;
  background-color: transparent;
  padding: 8px 16px;
}
.new-section h2 {
  color: #fff;
  font-size: 32px;
  font-family: "Neue Kabel ExtraBold";
  line-height: 32px;
  letter-spacing: -0.96px;
  text-align: center;
  margin-bottom: 1em;
}
.new-section p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: #fff;
}
.new-section {
  padding: 64px 0;
  background-image: url("./assets/images/logos/ice-cream-solo.png");
  background-size: cover; 
  min-height: 400px;
}
.new-section img {
  object-fit: contain;
  display: none;
}
footer {
  background: var(--army);
  padding: 2rem;
}
footer .social-links ul {
  color: var(--khaki);
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
}
footer .social-links ul li {
  color: var(--khaki);
  list-style: none;
  display: flex;
  /* width: 100%; */
}
footer .social-links ul li a {
  color: var(--khaki);
  font-family: "Neue Kabel ExtraBold";
  letter-spacing: 1px;
}
footer .social h3 {
  color: #fff;
  font-family: "Neue Kabel ExtraBold";
}

/* infinite logo scroller */
.scroll-container {
  position: relative;
  width: 100vw;
  /* width: 100%; */
  overflow: hidden;
  z-index: 1;
  margin: 0;
  padding: 5rem 0;
}
.carousel-primary {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  animation: scrollText 20s linear infinite;
  margin: 0;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}
.carousel-primary span {
  display: flex;
  margin: 0;
  padding: 0;
  color: white;
  align-items: center;
}
.carousel-primary img {
  width: 180px;
  margin-left: 20px;
  filter: sepia(1) grayscale(1);
}
.carousel-primary {
  display: flex;
  justify-content: space-around;
  animation: 20s scroll-horizontal linear-infinite;
  -webkit-animation: 20s scroll-horizontal linear-infinite;
}
.navbar-brand img.d-inline-block {
  width: 100%;
}
.App .container p.tagline{
  font-weight: 500;
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  color: var(--khaki);
}
.App .hero-contain p, div.Typewriter {
  color: var(--khaki);
  margin-bottom: 18px;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* end infinite logo scroller */

/* Start fixed scroll */
.fixer {
  position: fixed;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.extra,
.wrap {
  width: 75%;
  margin: auto;
  background-color: #ccc;
}
.wrap {
  height: 800px;
}
.extra {
  height: 100px;
}
/* End fixed Scroll */
/* Start Modal  */
.modal-body {
  padding: 2em;
}
.modal-content {
  background: var(--khaki)
}
.modal-content h4 {
  color: var(--dark-brown)
}
.modal-brand {
  max-width: 250px;
}
.modal-title-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* //////Modal Images */

.modal-brand#WebMD, .modal-brand#IMEG, .modal-brand#Sharecare, .modal-brand#Turner\ NBATV {
  margin-bottom: 15px;
}

/* //////End Modal Images */

/* End Modal */

#qualify {
  background: var(--khaki);
  position: relative;
  width: 100%;
  overflow: visible;
  padding-top: 2.5rem;
}
#qualify .card-container {
  display: flex;
  flex-direction: column;
}
#qualify .card-container .card {
  border: none;
  padding: 0;
  height: auto;
  display: block;
}
#qualify h3 {
  color: var(--dark-brown);
  font-weight: 800;
  font-size: 28px;
  margin: 0;
}
#qualify p {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  color: var(--dark-brown);
  margin: 0;
  white-space-collapse: preserve;
  padding-bottom: 2rem;
  text-align: left;
  font-family: "Outfit", sans-serif;
}
#qualify .image-cont {
  padding: 1rem 0;
}
#qualify .image-cont img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center top;
  object-fit: cover;
  aspect-ratio: 1.7857142857142858 / 1;  
}
#languages {
  background: #E5DABE;
}
#languages .intro {
  background: #E5DABE;
  padding-top: 0;
  margin-top: 0;
}
#languages .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 50px;
  padding-bottom: 50px;
}
#languages p.body-text {
  width: 100%;
  max-width: 100%;
}
#languages .grid img {
  height: 80px;
  margin: 0 auto;
}
#qualify .intro p.body-text {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  width: 100%;
  max-width: 100%;
}
#languages .intro p.body-text {
  font-size: 40px;
  color: var(--dark-brown);
  font-family: "Neue Kabel ExtraBold";
  line-height: 40px;
}
@media all and (max-width: 1198px) {
  .modal-title-contain {
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 20px;
  }
  .modal-fullscreen .modal-body {
    padding: 4em 6em;
  }
  .modal-brand {
    max-width: 180px;
  }
  nav.fixed-top {
    padding: 0 20px;
    /* box-shadow: 0 48px 36px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  }
  .navbar-brand img.d-inline-block {
    height: 70px;
    object-fit: cover;
    background: var(--warm-brown);
  }
  .navbar-brand img.d-inline-block.desk {
    display: none !important;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 30px;
    font-weight: 600;
  }
  .navbar>.container {
    max-width: 1140px;
  }
  .navbar > .container {
    padding: 0;
  }
  .mobile-brand {
    position: relative;
    text-align: center;
    display: none;
  }
  .navbar-light .navbar-brand {
    padding: 0;
    margin: 0;
  }
}
@media all and (max-width: 991px) {
  #languages .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 991px) {
  body {
    display: block;
    width: 100%;
  }
  div.employment {
    mask-image: none;
  }
  div.modal-fullscreen div.modal-body {
    padding: 2em;
  }
  .App .container div.hero-contain p {
    text-align: center;
  }
  h2.position-title {
    margin: 24px 0 36px;
  }
  .headline-contain {
    text-align: center;
  }
  .hero-contain p.tagline {
    margin-bottom: 8px;
  }
  .App .container .headline-contain p.tagline, button {
    text-align: center;
  }
  .hero-contain p {
    margin-bottom: 32px;
  }
  .modal-body p.logo-text {
    font-size: 24px;
    letter-spacing: normal;
  }
  .navbar-light .navbar-brand {
    transform: scale(0.7);
  }
  #qualify .intro {
    margin-top: 0
  }
  #qualify .card-container {
    padding-left: 1em;
    padding-right: 1em;
  }  
  #qualify .intro p.body-text {
    text-align: center;
    font-size: 30px;
    color: var(--dark-brown);
    font-weight: 800;
    letter-spacing: -.03em;
    line-height: 32px;
    padding: 64px 24px;
    font-family: "Neue Kabel ExtraBold";
  }
  div.icecream {
    height: 26px !important;
    border-color: var(--dark-brown);
    background-color: transparent;
  }
  div.icecream::after {
    background: var(--dark-brown)
  }
  .navbar-light .navbar-brand span {
    transform: scale(1.5);
    color: var(--warm-brown);
    font-weight: 600;
    font-family: "Neue Kabel ExtraBold";
    margin-left: 15px;
  }
  .new-section {
    min-height: 190px;
    background-size: 150%;
  }
  .Typewriter {
    margin-top: 8px;
  }
  .body-section {
    margin-top: 3.5rem;
  }
  .mobile-brand img {
    width: 70%;
    object-fit: cover;
    top: -40px;
    position: relative;
  }
  button.contact {
    margin-top: 1rem;
  }
  .card-body {
    padding: 0;
  }
  .intro {
    background: var(--khaki);
  }
  #root {
    padding: 0;
    overflow-x: hidden;
  }
  .App {
    height: 14vh;
    justify-content: start;
    align-items: start;
    margin-top: 5.625rem;
  }
  .body-section {
    background: var(--warm-brown);
    /* background-image: url(/src/assets/images/donutPlanet-cut-AI.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right; */
  }
  .body-section .App {
    margin: 6rem auto 0;
    position: relative;
    z-index: 6;
    height: auto;
    padding: 0 24px;
  }
  .App .container p {
    text-align: left;
    font-size: 34px;
    line-height: 1.9rem;
    /* color: #fff; */
  }
  img.bigImage {
    width: 130%;
    position: relative;
    z-index: 3;
  }
  div.intro {
    margin-top: -60px;
    position: relative;
  }
  div.intro#who {
    margin-top: 340px;
  }
  section.section h2.intro-employment {
    color: #fff;
    font-size: 22px;
    text-align: left;
    line-height: normal;
  }
  .card-container {
    padding: 2rem;
  }
  section .card {
    width: 100%;
    padding: 24px;
    margin-bottom: 24px;
  }
  .body-text {
    text-align: center;
    font-size: 30px;
    color: var(--dark-brown);
    font-weight: 700;
    letter-spacing: -.03em;
    line-height: 32px;
    padding: 64px 24px;
  }
  .employment .App {
    margin: 0;
    padding: 10px 10px 30px;
    height: auto;
    width: 100vw;
    background-color: var(--army);
  }
  section .card-container {
    display: block;
    background-color: var(--army);
  }
  .scroll-container {
    background-color: var(--khaki);
    padding: 0rem 1rem 3rem;
  }
  .carousel-primary img {
    width: 130px;
    margin-left: 70px;
  }
  .employment .App {
    display: none;
  }
}
@media all and (min-width: 650px) {
  .imager .bigImage {
    width: 100%;
    height: auto;
  }
}
@media all and (min-width: 768px) {
  #qualify .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
  }
  #qualify h3 {
    font-size: 40px;
    list-style: 40px;
    overflow-wrap: break-word;
  }
  #qualify p {
    font-size: 24px;
    line-height: 31.2px;
  }
  #qualify .intro p.body-text {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.2px;
      color: var(--dark-brown);
      font-family: "Neue Kabel ExtraBold";
  }
  div#root {
    padding: 0;
  }
  .body-section .App {
    margin-top: 13rem;
  }
  .body-section .App .container p {
    text-align: left;
    color: #fff;
  }
  h2.position-title {
    /* text-align: left; */
    font-size: 40px;
    margin-bottom: 64px;
    margin-top: 64px;
  }
  section .card-container {
    padding: 0 24px 64px;
  }
  .new-section .container {
    max-width: 660px;
  }
  section .card {
    width: 100%;
    height: 300px;
    margin-bottom: 24px;
    padding: 24px;
  }
  .card-body {
    padding: 0;
  }
  .logo-text {
    font-size: 24px;
    letter-spacing: -1.2px;
    line-height: 31.2px;
  }
  .card-body p {
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 300;
  }
  .card-footer {
    background-color: transparent;
    border: none;
  }
  .card-footer button.learn-more {
    background-color: transparent;
    color: var(--dark-brown);
    font-size: 2.1rem;
    text-align: right;
  }
  .new-section {
    background-position: bottom;
    padding: 96px 64px;
  }
  .new-section h2 {
    font-size: 40px;
  }
  .intro {
    padding: 96px 64px;
    background: var(--khaki);
  }
  .intro p.body-text {
    font-size: 40px;
    color: var(--dark-brown);
    font-family: "Neue Kabel ExtraBold";
    line-height: 40px;
    letter-spacing: -1.2px;
  }
}

@media all and (min-width: 1199px) {
  img.mobile {
    display: none !important;
  }
  div.body-section .App {
    background-size: 30%;
    background-position: 70% 30%;
  }
  nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light.fixed-top {
    text-align: center;
  }
  .navbar-light div.navbar-nav a.nav-link {
    font-size: 83px;
    margin: 15px;
  }
  .navbar-expand-lg .navbar-nav.me-auto {
    flex-direction: unset;
    margin: 45px auto 0;
  }
  .navbar-light div.navbar-nav a.nav-link {
    color: #fff;
    font-size: 23px;
  }
  .container p {
    line-height: 60px;
  }
  .App {
    min-height: 70vh;
  }
  .carousel-primary {
    gap: 80px;
  }
  .employment .App {
    min-height: 33vh;
  }
  .scroll-container {
    padding: 2rem 0 5rem;
  }
  .section .card-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
    max-width: 992px;
    margin: 0 auto;
    display: grid;
  }
  section.section h2.intro-employment {
    letter-spacing: -1.47px;
  }
}

@media all and (min-width: 992px) {
  .navbar-brand img.d-inline-block.mobile {
    width: 75px;
  }
  #qualify .intro p.body-text {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -1.68px;
    font-weight: 400;
  }
  .mobile-brand img {
    display: none;
  }
  .body-section .App {
    background-image: url("./assets/images/logos/ice-cream-solo.png");
    background-size: 46%;
    background-position: 100% 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  section .card {
    /* height: 330px; */
    margin: 0;
    height: auto;
  }
  .body-section .App {
    min-height: 57.5vh;
  }
  .intro {
      padding: 64px;
  }
  .intro p.body-text {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -1.68px;
    font-weight: 400;
    width: 84%;
  }
  .body-section .App .container p.tagline {
    font-size: 30px;
    width: 70%;
    line-height: 1.3;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .imager {
    display: none;
  }  
  nav.fixed-top {
    background-color: transparent;
    box-shadow: none;
    padding: 15px;
  }
  .navbar-expand-lg .navbar-collapse .navbar-nav{
    margin: 0 0 0 auto !important;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 19.47px;
    font-weight: 400;
    padding: 14px 16px;
  }
  .navbar-brand img.d-inline-block {
    width: 198px;
    height: auto;
  }
  .container p {
    font-size: 77px;
    line-height: 70px;
  }
  .body-text {
    font-size: 27px;
  }
}
@media all and (min-width: 1700px) {
  div.body-section .App {
    background-size: 22%;
  }
}
@media all and (max-width: 700px) {
  #languages .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 700px) {
  .logo-text {
    font-size: 1.4rem;
  }
  #qualify {
    padding-top: 0;
  }
  #languages .grid img {
    width: 90%;
    height: auto;
    padding: 15px;
  }
  div.intro {
    margin-top: 50px;
  }
  .navbar-light .navbar-brand {
    padding-top: .5rem;
  }
  .navbar-light .navbar-toggler {
    padding-bottom: 0;
  }
  footer .social-links ul {
    padding-left: 0;
  }
}